.FeaturedPost {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 700px;
  width: 1300px;
  height: calc(100vh - 90px);
  margin: auto;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  padding-bottom: 15px;
  position: relative;
  border-radius: 15px;
}

.Category {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  margin-left: 20px;
  cursor: pointer;
}

.FeaturedPost .MainData {
  z-index: 3;
  width: 100%;
  padding: 5px 10px;
  background-color: white;
}
.FeaturedPost .MainData p {
  margin-bottom: 0;
}
.FeaturedPost .MainData h3 {
  font-size: 1.2rem;
}
.ExtraData .icon {
  margin-left: 15px;
  margin-right: 5px;
  font-size: 1.2rem;
}
.ExtraData {
  margin-top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 5px;
}
.ExtraData .Link {
  padding-top: 0;
  padding-bottom: 0;
}
.ExtraData .Link:before {
  bottom: 0;
}
.ExtraData span {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
}
.ExtraData img {
  width: 25px;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .FeaturedPost .MainData h3 {
    font-size: 2rem;
    text-align: center;
  }
  .FeaturedPost {
    min-width: unset;
    width: 100vw;
    height: 400px;
  }
  .FeaturedPost .ExtraData {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .FeaturedPost .ExtraData .Link {
    margin: 0;
    padding: 0;
  }
  .FeaturedPost .ExtraData .Link:after {
    display: none;
  }
  .FeaturedPost .ExtraData {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
